.hero-bg {
  background-image: url('../images/band_colour1.jpeg');
  background-size: 100%;
  opacity: 0.8;
  display: flex;
  background-repeat: no-repeat;
}

.news {
  display: flex;
  align-items: flex-end;
  margin: 5%;
}

.portrait-bg{
  position: fixed;
  background-color: black;
  display:  none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100000;
  color: #D7D344;
}

.typed {
}

@media (min-width: 576px) {
  .hero-bg {
    height: 100vh;}
  }
}

37

@media all and (orientation:portrait) {
  .hero-bg{
    background-image: none;
  }
  .portrait-bg{
    display: flex;
  }
}

