.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/band1_red_filter.png');
  background-size: 100%;
  opacity: 0.8;
  height: 100vh;
  display: flex;
}

.news {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 5%;




