@import "pages/live.css";
@import "pages/landing.css";
@import "pages/music.css";
@import "pages/biog.css";

@import "components/container.css";
@import "components/buttons.css";
@import "components/cards.css";
@import "components/header.css";
@import "components/social.css";
@import "components/media-queries.css";
@import "components/carousel-img.css";

body {
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Palanquin', sans-serif;*/
  background-color: black;
  width: 100vw;
}

.row {
  justify-content: space-evenly;
  flex-basis: 100%;
}

h1 {
  font-size: 48px;
  font-family: 'Palanquin', sans-serif;
  color: white;
}

h2 {
  font-size: 48px;
  font-family: 'Palanquin', sans-serif;
  color: #D7D344;
}

/* anchors */

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #D7D344;
}

a:hover,
a:active {
  color: white;
  }



