@import 'pages/live.css';
@import 'pages/landing.css';
@import 'pages/music.css';
@import 'pages/biog.css';
@import 'pages/phone-biog.css';

@import 'components/container.css';
@import 'components/buttons.css';
@import 'components/cards.css';
@import 'components/header.css';
@import 'components/footer.css';
@import 'components/social.css';
@import 'components/media-queries.css';
@import 'components/carousel-img.css';

body {
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Palanquin', sans-serif;*/
  background-color: black;
  width: 100vw;
  background-image: url('../../images/backgrounds/bg_4.jpg');
}

.row {
  justify-content: space-evenly;
  flex-basis: 100%;
}

h1 {
  /*font-size: 2.5rem;*/
  font-family: 'Palanquin', sans-serif;
  color: #d7d344;
  text-align: center;
}

h2,
h3 {
  font-family: 'Palanquin', sans-serif;
  color: #d7d344;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

p {
  color: white;
  font-size: 1.6rem;
}
/* anchors */

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #d7d344;
}

a:hover,
a:active {
  color: white;
}
