.btn-buy {
  margin: 4%;
}

.btn-buy:link,
.btn-buy:visited {
  color: black;
}

.btn-buy:hover,
.btn-buy:active {
  color: #161dff;
  }

.btn-box {
  display:  flex;
  justify-content: space-evenly;
  /*background-color: purple;*/
  flex-basis:  100%;
}
