/* Header */

.header {
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  z-index: 100;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.logo {
  box-sizing: border-box;
  max-width: 18rem;
  margin: 0.5em;
}

.logo img {
  width: 100%;
  height: auto;
}

/* Navbar */

.navbar {
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  z-index: 50;
  padding-right: 3rem;
}

.nav-text {
  font-size: 1.3em;
  color: var(--color-primary) !important;
}

@media only screen and (min-width: 751px) {
  .navbar.sticky {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 7rem;
  }
}

/*  hamburger */

.hamburger {
  display: none;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-primary);
}

@media only screen and (max-width: 750px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: var(--color-black);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    padding: 1rem;
  }

  .nav-item {
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }

  .nav-item a {
    color: var(--color-primary) !important;
  }

  .nav-menu.active {
    right: 0%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .logo {
    margin: 0.5rem;
    max-width: 10rem;
  }
  .header {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-text {
    font-size: 1.8em;
  }
}
