/* phones */

/*@media (max-width: 575px) {
  .navbar {
    display: none;
  }
  h1 {
    font-size: 32px;
  }
}
*/
@media (max-width: 767px) {
  .media-box  {
    flex-direction: column;
    align-items: center;
  }
  .music_bg {
    background-image: none;
    background-color: black;
  }
  .live_bg {
    background-image: none;
    background-color: black;
    }
}

/*@media (min-width: 577px) {
  .hero-bg{
    height: 100vh;
  }
}*/

/* Orientation portrait */

@media (orientation: portrait)
 {
  .portrait-bg{
    display:  flex;
  }
}

/* tablets */




/* Laptops */

/*@media (min-width: 768px) {
  .live_bg {
    height: 100vh;
  }
}*/






/*@media (max-width: 767px) {
  .live_bg {
    background-image: none;
    background-color: black;
    }
  }*/



/*@media (min-width: 768px) {
  .live_bg {
    height: 100vh;
  }
}*/

/*@media (max-width: 575px) {
  .navbar {
    display: none;
  }
}*/


/*@media (max-width: 575px) {
  h1 {
    font-size: 32px;
  }
}*/

/*@media (max-width: 575px) {
  h1 {
    font-size: 32px;
  }
}*/
