
/* phones */



@media (max-width: 991px) {

  .navbar, .carousel, .social{
    display: none;
  }
  .logo {
    margin:  10px;
  }
  .header {
    justify-content: center;
    position: absolute;
  }

}

 /*Laptops*/

@media (min-width: 992px) {
  .biog-phone{
    display: none;
  }

}





