/* Orientation portrait */

@media (orientation: portrait){
  .portrait-bg{
    display:  flex;
  }
}

/* phones */

@media (max-width: 767px) {
  .media-box  {
    flex-direction: column;
    align-items: center;
  }
  .biog-text-member {
    font-size: 1.3em;
  }
  .band-member, .long-name{
    color: #D78A44;
    opacity: 0.8;
    position: absolute;
  }
  .band-member{
    top: 5%;
    left: 5%;
  }
  .long-name{
    font-size: 4em;
    top: 2%;
    left: 2%;
  }
}

/* tablets */

@media (min-width: 768px){
  .music_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/band1.JPG');
    background-color: none;
    height: 100vh;
  }
  .live_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../images/live_1.jpeg');
    background-color: none;
    height: 100vh;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .carousel-item {
      height: 100%;
      width: 100%;
  }

/* Laptops */
@media (min-width: 992px) {
  .hero-bg, .live_bg, .music_bg  {
    /*background-attachment: fixed;*/
  }
}





