.bg {
  /* display: flex; */
}

.landing-container {
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero {
  /* display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  flex: 1; */
}

.hero img {
  width: 100%;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  position: absolute;
  bottom: 10%;
  background-color: rgba(30, 30, 30, 0.3);
}

.news-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

@media only screen and (max-width: 767px) {
  .news {
    opacity: 0;
  }

}



@media only screen and (min-width: 768px) {

  .landing-container {
    height: calc(100vh - 6rem);
  }
}

@media only screen and (min-width: 992px) {

  .landing-container {
    height: calc(100vh - 9rem);
  }
}

.fadeUp {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  transition: 0.3s ease-in;
}

.unhide {
  opacity: 1;
  transition: 0.3s ease-in;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}