.live_bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../images/live_1.jpeg');
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*height: 100vh;*/
}



