.thumbnail {
  font-size: 1.8rem;
  color: #d7d344;
  text-align: center;
}

.thumbnail img {
  height: 10rem;
  width: 10 rem;
}

.thumbnail img:hover {
  scale: 1.1;
  transition: 0.3s;
}

.thumbnail:hover {
  opacity: 1;
}

.members-text {
  color: white;
  opacity: 0;
}

.thumb-title {
  font-size: 2.5rem;
  color: #d7d344;
}